.image1 {
	width: 100%;
	height: auto;
}
.image2{
	width: 60%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.classforall{
	padding: 2%;
}
body{
	background-color: black;
}
.titles{
	color: yellow;
}
.paragr{
	color: white;
}
.back{
	background-color: black;
	color: white;
}